body {
  overflow: hidden;
}
#pointers {
  position: relative;
}

#pointers .pointer {
  position: absolute;
  width: 15px;
  height: 15px;
  /* border: 1px solid #000;
  border-radius: 50%;
  background-color: #000; */
}
